name: quality
# https://docs.github.com/en/actions/reference/events-that-trigger-workflows#push
on: [push]
jobs:
  main:
    # https://github.com/actions/runner-images
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          pnpm install

      - name: Lint
        run: |
          pnpm lint:ci

      - name: Build examples
        run: |
          ./scripts/examples/build.sh
